[Unit]
Description="BTÜ Ülgen Uçuş Yazılımı, 2021"
Requires=network.target motor.service

[Service]
Type=simple
ExecStart=python3 /home/pi/ulgen/scripts/ulgen.py
Restart=always

[Install]
WantedBy=multi-user.target
